.text-blue{
    color: blue;
    font-family: 'Brush Script MT', cursive;
}
.text-green{
    color: green;
    font-family: Copperplate, Papyrus, fantasy;
}
.text-red{
    color: red;
    font-family: "Courier New", Courier, monospace;

}

.text-center{
    text-align: center;
}
.hidden{
    /*visibility: hidden;*/
    display: none;
}

#play-button{
    font-size: 200%;
    border-radius:5px ;
    background-color:yellow ;
}

.stop-button{
    font-size: 200%;
    border-radius:5px ;
    background-color:blue ;
}

.grid-container {
    display: grid;
    background-color: black;
    padding: 10px;
    height:300px;
}

.grid-container > div {
    background-color: white;
    text-align: center;
    font-size: 30px;
    height:300px;
}

.number{
    text-align: center;
}


.move {
    overflow: hidden;
    word-wrap: break-word;
}

/*#fizzbizz {*/
/*    animation: marquee 20s linear infinite;*/
/*}*/
/*@keyframes marquee {*/
/*    from {transform: translateX(100%); }*/
/*    to {transform: translateX(-100%); }*/
/*}*/

#fizzbizz{
    font-family: 'Courier New', monospace;
}
